.idea/
.vscode
java/build/*
java/out/*
c/build/*
*.o
.DS_Store
.gradle
build
.classpath
.project
.settings/
java/.classpath
java/.project
java/.settings/
java/bin/
java/hs_err_pid*
gradle/
gradlew
gradlew.bat
c/evmc-vm.h
*.class
java/src/test/resources/libexample-vm.so
java/src/test/resources/libexample-vm.dylib
java/src/test/resources/libevmc.so
java/src/test/resources/libevmc.dylib
